@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
} *

body {
    background: url("https://images.unsplash.com/photo-1572376636973-049ac950cb53?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fHdlYXRoZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
    font-family: "Lato", sans-serif;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.carousel-inner {
    width: 50%;
    height: 400px;
}

#WeatherContainer{
    background-position: center;
    border-radius: 5px;
    border: black;
    padding: auto;
    margin: 20px;
}


#searchForm{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.btn {
    background: #4c9cc2;
    color: #fff;
}

.btn:hover {
    color: #e8e8e8;
}

#city-input {
    font-size: x-large;
}

#cityName.form-control{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#input-group-append{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    text-align: center;
}

.history {
    margin: 5px 0;
}

p {
    font-size: 14px;
}

.uvIndexGreen {
    background-color: green;
    display: inline;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    color: #fff
}

.uvIndexYeloow {
    background-color: yellow;
    display: inline;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    color: #fff
}

.uvIndexOrange {
    background-color: orange;
    display: inline;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    color: #fff
}

.uvIndexRed {
    background-color: red;
    display: inline;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    color: #fff
}

.uvIndexViolet {
    background-color: violet;
    display: inline;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    color: #fff
}

#searchContent {
    display: none;
}